@use '../../styles/breakpoints.scss';
@use '../../styles/mixins.scss';

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem auto;

  @include mixins.xl {
    width: 50%;
  }
}

.container {
  display: block;
  width: 100%;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.sm {
    width: 100%;
    flex-direction: column;
  }
}