.accordion {
  width: 100%;
  position: relative;

  border-top: 1px solid var(--text-color);
  transition: color 0.15s ease, border-color 0.15s ease;

  &:nth-last-child(1) {
    border-bottom: 1px solid var(--text-color);
  }
}

.accordion .name {
  margin: 0;
  padding: 0.8rem 1rem;
  width: 100%;
  display: flex;

  font-size: 1.2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--alternate-background-color);
  }

  &::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232d3f4e'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transform: rotate(180deg);
  }

  &.edit {
    cursor: text;

    &:hover,
    &:active {
      background-color: inherit;
    }
  }
}

.accordion.collapsed .name::after {
  transform: rotate(0);
}

.accordion.collapsed .content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding-bottom: 0;
  transition: all 0.3s ease-in-out;
}

.accordion .content {
  max-height: max(1200px, 100%);
  padding: 1rem;
  padding-top: 0;
  transition: all 0.3s ease-in-out;

  &.edit {
    padding-bottom: 3em;
  }

  &:nth-last-child(1) {
    clear: both
  }
}

.accordion h2 {
  margin: 0;
  font-size: 1.1rem;
}

.accordion h2 input {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1rem;

  font-family: "Kollektif";
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--header-color);

  background: inherit;
  border: 0;
  outline: none;
}

.accordion p {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.accordion ul,
.accordion ol {
  margin: 0 0 1rem 0;
  font-size: 1.1rem;
  line-height: 1.25;
}

.buttons {
  position: absolute;
  bottom: 1em;

  display: flex;
  flex-direction: row;
}

.buttons button {
  margin: 0 1rem 0 0;
}