:root {
  --background-color: #fafafa; //#ebebec;
  --alternate-background-color: #fefefe;
  --text-color: #455e6f;
  --title-color: #8f9795;
  --header-color: #2d3f4e;
  --link-color: #2d3f4e;
  --button-color: #455e6f;
  --button-text: #fff;
  --warning-color: #F47174;
  --high-light-color: #8f9795;
  --text-font: 'Montserrat Extra-Light';
  --header-font: 'Kollektif';
  --accent-3: #ebebec;
}