.button {
  padding: 0.3em;
  font-size: 0.9em;
  display: flex;
  align-items: center;

  background: transparent;
  border: 1px solid;
  border-radius: 0.25rem;

  &.warning {
    color: var(--warning-color);
    border-color: var(--warning-color);
  }

  &:disabled {
    border-color: var(--accent-3);
  }

  &:enabled {
    cursor: pointer;
  }

  &:hover:enabled {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);

    &.warning {
      background-image: linear-gradient(rgba(244, 113, 116, 0.1) 0 0);
    }
  }
}

.iconColor {
  color: var(--text-color);
  margin-right: 0.3rem;
}

.iconWarningColor {
  color: var(--warning-color);
  margin-right: 0.3rem;
}
