.menu {
  &>* {
    display: inline-block;
  }

  // & > .button + * {
  //   margin-left: 0.5rem;
  // }

  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
  rgba(15, 15, 15, 0.1) 0px 3px 3px,
  rgba(15, 15, 15, 0.2) 0px 3px 10px;
  background: var(--alternate-background-color);
  border-radius: 0.25em;
  margin-bottom: 0.8em;
  padding-left: 0.4em;
}

.toolbar {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  color: var(--text-color);
  padding: 0.3rem;

  &.active {
    color: var(--button-text);
    background-color: var(--high-light-color);
  }
}

.button:hover {
  color: var(--button-text);
  background-color: var(--header-color);
}

.icon {
  font-size: 18px;
  vertical-align: text-bottom;
  color: inherit;
}

.divider {
  padding: 0;
  margin: 0 0 0 0.3em;
  font-size: 1.4em;
  cursor: default;

  height: 100%;
  line-height: 40px;

  border-left: 1px solid var(--title-color)
}