.menu {
  & > * {
    display: inline-block;
  }
  // & > .button + * {
  //   margin-left: 0.5rem;
  // }
}

.toolbar {
  position: relative;
  padding: 1px 18px 17px;
  margin: 0 -20px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.button {
  cursor: pointer;
  color: var(--text-color);
  padding: 0.3rem;

  &.active {
    background-color: var(--alternate-background-color);
  }
}

.button:hover {
  color: var(--button-text);
  background-color: var(--header-color);
}

.icon {
  font-size: 18px;
  vertical-align: text-bottom;
  color: inherit;
}

.divider {
  padding: 0;
  margin: 0 0 0 0.3em;
  font-size: 1.4em;
  cursor: default;

  height: 100%;

  border-left: 1px solid var(--title-color)
}